<settings>

<servers>
    <server>
    <id>repo</id>
    <username>${REPO_USER}</username>
    <password>${REPO_PASS}</password>
    </server>
</servers>

<mirrors>
    <mirror>
    <id>repo</id>
    <name>repo</name>
    <url>${REPO_URL}</url>
    <mirrorOf>*</mirrorOf>
    </mirror>
</mirrors>

</settings>
